.notice_bar {
  background: linear-gradient(90deg, #0055ff, #7099fe, #0055ff);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_text {
    color: #e0d7fe;
    margin: 0;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-size: 1.8rem;
    text-align: center;
  }
  
  // Media query for tablet screens
  @media screen and (max-width: 768px) {
    padding: 8px 12px;
    
    &_text {
      font-size: 1.4rem;
    }
  }
  
  // Media query for mobile screens
  @media screen and (max-width: 576px) {
    padding: 6px 10px;
    
    &_text {
      font-size: 1.2rem;
    }
  }
}
